migrations/
.vscode/
dump.rdb
**/__pycache__

# local env files
.env.*
.env
env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

package-lock.json
yarn.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log

# OSX
**/.DS_Store

**/ai_models

.venv

output.txt
.client_storage
.auth_client_storage*
.storage/
.profiles/
.remote_agents/
.mcp_servers/
*.egg-info/
.claude/